@{
    ViewData["Title"] = "Devices";
    Layout = "~/Views/Shared/_LayoutKira.cshtml";
}

<div class="card text-center">
    <div class="card-header">
        Featured
    </div>
    <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>


        <div class="form-group">
            <h5>Dispositivos</h5>
            <hr />
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Pin</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

    </div>
    <div class="card-footer text-muted">
       &nbsp;
    </div>
</div>

