@{
    ViewData["Title"] = "Devices";
    Layout = "~/Views/Shared/_LayoutKira.cshtml";
}

<div class="card text-center">
    <div class="card-header">
        <h2><span id="nodeName"></span></h2>
    </div>
    <div class="card-body">



        <div class="form-group">
            <h5>Dispositivos</h5>
            <hr />
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Pin</th>
                        <th>Zona</th>
                        <th>Tipo</th>
                        <th>Icono</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="tdata"></tbody>
                <tfoot>
                    <tr>
                        <th><input type="text" class="form-control" name="txtNombre" id="txtNombre" /></th>
                        <th><input type="text" class="form-control" name="txtPin" id="txtPin" /></th>
                        <th><select class="form-control" name="txtZona" id="txtZona"> </select></th>
                        <th>
                            <select class="form-control" name="txtTipo" id="txtTipo">
                                <option value="toggle">Toogle</option>
                                <option value="dimmer"> Dimmer </option>
                            </select>
                        </th>
                        <th><input type="text" class="form-control" name="txtIcono" id="txtIcono" /></th>
                        <th><button type="button" class="btn btn-success" onclick="fnAddDevice()"> + </button> </th>
                    </tr>
                </tfoot>
            </table>
        </div>

    </div>
    <div class="card-footer text-muted">
        &nbsp;
    </div>
</div>

@section Scripts{

    <script>
        var nodeId = '@ViewData["NodeId"]';
    </script>
    <script src="~/js/nodes_device.js"></script>

}