@{
    ViewData["Title"] = "Cocina";
    Layout = "~/Views/Shared/_LayoutKira.cshtml";
}


<div class="row">

    <div class="col-lg-4">
        <div class="card text-center card-custom">
            <div class="card-header">
                <div class="botones">
                    <img src="~/images/dis.png" />
                    
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title">Lavaplatos</h5>
                <button type="button" class="btn btn-lg btn-toggle" data-toggle="button" aria-pressed="false" autocomplete="off">
                    <div class="handle"></div>
                </button>
            </div>

        </div>
    </div>

    <div class="col-lg-4">
        <div class="card text-center card-custom">
            <div class="card-header">
                <div class="botones">
                    <img src="~/images/idea.png" />

                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title">Luces</h5>
                <button type="button" class="btn btn-lg btn-toggle" data-toggle="button" aria-pressed="false" autocomplete="off">
                    <div class="handle"></div>
                </button>
            </div>

        </div>
    </div>

    <div class="col-lg-4">
        <div class="card text-center card-custom">
            <div class="card-header">
                <div class="botones">
                    <img src="~/images/mixer.png" />                   
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title">Ambientación</h5>
                <button type="button" class="btn btn-lg btn-toggle" data-toggle="button" aria-pressed="false" autocomplete="off">
                    <div class="handle"></div>
                </button>
            </div>

        </div>
    </div>

</div>
